body {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #ffffff;
    height: 6076px;
    width: 1024;
}

#main-container {
    padding: 0px;
    background-color: #3953A5;
    width: 1024px;

 
}
#headerbox {
    background-color: #3953A5;
    height: 62px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    
}
#secondbox {
    background-color: #0D1C39;
    height: 545px;
    font-size: 72px;
}
#logo {
    margin-top: 20px;
    height: 350px;
    justify-content: center;
}
#CALISTA {
   display: flex;
    color: white;
    font-family: marker felt;
    font-size: 72px;
    justify-content: center;
}
#navigation {
    background-color: #3953A5;
    height: 62px;
    display: flex;
}
ul {
    display: flex;
    font-family: marker felt;
    justify-content: space-around;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    font-size: 21px;
    margin-top: 10px;
    
}
#aboutme {
    display: flex;
    background-color: #C9D7ED;
    height: 1115px;
    flex-flow: column;
}
#titleaboutme {
    font-family: marker felt;
    margin-left: 45px;
    margin-top: 25px;
    color: #0D1C39;
    font-size: 40px;
}
#bio {
    font-family: arial rounded mt bold;
    display: flex;
    color: #0D1C39;
    margin-left: 45px;
    margin-top: 0px;
    width: 543px;
    justify-content: left
}
