body {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #ffffff;
    height: 5000px;
    width: 1024;
}

#main-container {
    padding: 0px;
    background-color: #3953A5;
    width: 1024px;

 
}
#headerbox {
    background-color: #3953A5;
    height: 62px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    
}
#secondbox {
    background-color: #0D1C39;
    height: 545px;
    font-size: 72px;
}
#logo {
    height: 350px;
    display: flex;
    justify-content: center;
}
#CALISTA {
   display: flex;
    color: white;
    font-family: marker felt;
    font-size: 72px;
    justify-content: center;
}
#navigation {
    background-color: #3953A5;
    height: 62px;
    display: flex;
    
    
}
#nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    font-size: 21px;
    margin-top: 10px;
    font-family: marker felt;
    
}
#aboutme {
    display: flex;
    background-color: #C9D7ED;
    height: 1050px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
#titleaboutme {
    font-family: marker felt;
    margin-left: 45px;
    margin-top: 25px;
    color: #0D1C39;
    font-size: 40px;
    flex-direction: row;
    justify-content: space-around;
}
#bio {
    font-family: arial rounded mt bold;
    display: flex;
    color: #0D1C39;
    margin-left: 45px;
    margin-top: 0px;
    width: 500px;
    flex-flow: row;
}
#photoofme {
    display: flex;
    width: 391px;
    height: 500px;
    margin-top: 25px;
    flex-flow: row;
}
#contactbox {
    margin-top: 105px;
}
#contactinfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 45px;
    font-family: marker felt;
    color: #0D1C39;
    font-size: 40px;
}
#contact {
    display: flex;
    margin-left: 45px;
    font-family: arial rounded mt bold;
    font-size: 30px;
}
#number {
    display: flex;
    margin-left: 45px;
    font-family: arial rounded mt bold;
    font-size: 30px;
}
#personality {
    display: flex;
    flex-direction: column;
}
#mbtiinfo {
    margin-left: 45px;
}
#mbti {
    display: flex;
    flex-direction: column;
    font-family: marker felt;
    margin-top: 0px;
    color: #0D1C39;
}
#mbtipic {
    height: 366px;
    display: flex;
}
#mbtipara {
    display: flex;
    flex-direction: row;
    font-family: arial rounded mt bold;
}
#boxone {
    display: flex;
    width: 500px;
    flex-direction: column;
}
.quote {
    font-family: arial rounded mt bold;
    font-size: 24px;
}
#studentlife {
    height: 610px;
    display: flex;
    justify-content: top;
    background-color: #C9D7ED;
    flex-direction: column;
}
.student {
    font-family: marker felt;
    margin-top: 33px;
    margin-left: 45px;
    font-size: 40px;

}
.studentbio {
    margin-left: 45px;
    font-family: arial rounded mt bold;
}
.studentbiolist {
    flex-wrap: wrap;
}
.photoofcab {
    width: 685px;
    height: 328px;
}
.cablogo {
    height: 328px;
    width: 203px;
    margin-left: 50px;
}
#athletelife {
    background-color: #C9D7ED;
    display: flex;
    height: 1460px;
    margin-top: 0px;
    flex-flow: column;
    
}
.athletetitle {
    font-family: marker felt;
    font-size: 40px;
    margin-top: 69px;
    margin-left: 45px;
}
.tkd {
   display: flex;
    margin-left: 50px;
    margin-right: 50px;
    font-family: arial rounded mt bold;
}
#tkdimgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
    
}
.tkdimgone {
    height: 340px; 
}
.tkdimgtwo {
    height: 539px;
}
.tkdimgthree {
    height: 629px;
}
.tkdimgfour {
    height: 430px;
}
#groupone {
width: 519px;
display: flex;
flex-direction: column;
}
#grouptwo {
    display: flex;
    flex-direction: column;
    width: 406px;
    
}
#personallife {
    background-color: #C9D7ED;
    display: flex;
    height: 1400px;
    margin-top: 0px;
    flex-direction: column;
}
.personaltitle {
size: 30px;
font-family: marker felt;
margin-top: 48px;
margin-left: 45px;
}
.personal {
    margin-left: 45px;
    margin-right: 45px;
    font-family: arial rounded mt bold;
}
#personalimgs {
    display: flex;
    flex-direction: row;
    
}
.beach {
    height: 312px;
    width: 234px;
    margin-left: 45px;
}
.egg {
  height: 312px;
  width: 237px;
}
.dogs {
    width: 437px;
    height: 312px;
}
#travel {
    margin-left: 45px;
    margin-right: 45px;
}
.traveltitle {
    font-family: marker felt;
}
#travel {
    margin-left: 45px;
    margin-right: 45px;
}
.traveltitle {
    font-family: marker felt;
}

.travelparagraph {
    font-family: arial rounded mt bold;
}
#travelpics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.countries {
    display: flex;
    margin-left: 45px;
    width: 270px;
    font-family: arial rounded mt bold;
    flex-direction: column;
    font-size: larger;
}
.sweden {
    height: 407px;

}
.brazil {
    width: 306px;
    height: 407px;
}
#travelone {
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.costa {
margin-left: 60px;
width: 600px;
height: 265px;
margin-top: 0px;
}
#traveltwo {
    display: flex;
    flex-direction: row;
}
.swedentwo {
    width: 324px;
    height: 265px;
}
#back {
    font-size: 21px;
    font-family: marker felt;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
a:visited {
    color: white;
  }
  a:hover {
    transition-property: font-size;
    font-size: 36px;
  }
  .aboutclass {
    width: 297px;
    height: 62px;
  }
  .studentclass {
    width: 297px;
    height: 62px;
  }
  .athleteclass {
    width: 297px;
    height: 62px;
  }
  .personalclass {
    width: 297px;
    height: 62px;
  }